.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .main-container h3 {
        color: white;
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        width: fit-content;
    }

.edit-container {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container {
    margin: 20px;
    width: 90%;
}

.danger-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.message-container {
    display: flex;
    flex-direction: row;
}

.btns-container {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: white;
    margin-bottom: 20px;
    max-width: 300px;
}

.btns-container-grid {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 855px) {
    .danger-container {
        font-size: small;
    }
}
