@using FilesSafeReserve.UI.Components.Layout

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="z-index: 3;">
            <a class="repo-ref" href="https://github.com/ShyDanLanIhor/Files-Safe-Reserve" target="_blank">GitHub Repository</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
