<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Files Safe Reserve</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-fill item-icon" aria-hidden="true" /> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtual-safes" Match="NavLinkMatch.All">
                <i class="bi bi-safe-fill item-icon" aria-hidden="true" /> Safes List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SmartphonePage">
                <i class="bi bi-phone item-icon" aria-hidden="true" /> Smartphone
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SettingsPage">
                <i class="bi bi-gear-fill item-icon" aria-hidden="true" /> Settings
            </NavLink>
        </div>
    </nav>
</div>
